* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
header {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 10px;
  border-radius: 40%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  transition: all 0.3s ease;
}

.search-bar input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}
/* footer  */
.footer {
  background-color: #181717;
  padding: 70px 80px;
  margin-top: 20px;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-menu li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-menu li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-menu li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);

  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Responsive Styles */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-links {
    display: none;
  }
}

/* For large screens */
@media (min-width: 1025px) {
  header {
    padding: 20px 40px;
  }

  .nav-links {
    flex-direction: row;
    gap: 30px;
  }
}
